/* CSS Document */
body {padding:0; margin:0; background:#FBFBFB}
* {padding:0; margin:0}
a {outline:none; text-decoration:none}
img {border:none}
ul {list-style:none}
.spacer {clear:both; font-size:0; line-height:0}
input {border:none}

::selection {color:#fff; background:#F91D67}
::-moz-selection {color:#fff; background:#F91D67} 

.flt-lft {float:left}
.flt-rgt {float:right}
.no-bord {border:none}
.no-marg-rgt {margin-right:0 !important}

@font-face {
    font-family: 'RockwellRegular';
    src: url('fonts/rock-webfont.eot');
    src: url('fonts/rock-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/rock-webfont.woff') format('woff'),
         url('fonts/rock-webfont.ttf') format('truetype'),
         url('fonts/rock-webfont.svg#RockwellRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Avgardm';
	src: url('fonts/Avgardm.eot');
	src: url('fonts/Avgardm.woff') format('woff'),
	     url('fonts/Avgardm.ttf') format('truetype'),
		 url('fonts/Avgardm.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* /General
============================================================= */

/* WRAPPER
============================================================= */
#wrapper-outer {background:url(../images/bg-wrapper-in.jpg) center top no-repeat}
#wrapper-inr {width:1003px; margin:auto}

/* HEADER
=============================================================== */
.header {background:#FFFFFF}
.hedr-top {padding:0; margin:0; overflow:hidden}
.logo-sp {float:left; margin:8px 0 0 18px}
ul.user-login {float:right; overflow:hidden; margin:25px 21px 0 0} 
ul.user-login li {float:left; margin-right:20px}
ul.user-login li a {float:left; font-family:"Avgardm", Helvetica, sans-serif; font-size:15px; line-height:20px; color:#000000; text-transform:uppercase; background:url(../images/arrow-1.jpg) 100% 40% no-repeat; padding-right:18px; margin-right:5px} 


/* NAVIGATION
============================================================== */
.nav-sp {background:url(../images/sprite-1.jpg) 0 0 repeat-x; height:38px; padding-left:16px; margin-top:10px}
.nav-sp ul {padding-top:5px}
.nav-sp ul li {float:left; height:30px; padding-left:4px; padding-right:4px; margin-right:30px}
.nav-sp ul li:hover {border-bottom:solid 3px #F91864}
.nav-sp ul li.active {border-bottom:solid 3px #F91864}
.nav-sp ul li a {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:15px; font-weight:bold; color:#fff;}

/* CAROUSEL
=================================================================== */
.carousel-sp {width:995px; min-height:320px; margin:4px auto}

/* CONTENT
=================================================================== */
#content {background:#FFFFFF; padding-left:4px; padding-top:4px; padding-right:3px; margin-top:11px; overflow:hidden}
.cont-lft {float:left; width:677px; padding-right:4px; border-right:solid 1px #C7C7C7}
.map {width:677px; margin-bottom:4px}
.map-caption-sp {background:url(../images/sprite-1.jpg) 0 -39px repeat-x; padding:8px 0 8px 14px; margin-bottom:1px /*height:48px*/}
.map-caption-sp h2 {font-family:"RockwellRegular", Helvetica, sans-serif; font-size:28px; line-height:30px; color:#fff;}


.cont-rgt {float:right; width:309px}
.sidebar-box {border-top:solid 3px #F80E5D; padding:7px 0 0 0; margin-top:7px; margin-bottom:25px}
.sidebar-box h3 {font-family:"RockwellRegular", Helvetica, sans-serif; font-size:25px; line-height:28px; color:#323232; padding-left:10px}
.sidebar-details {background:url(../images/sprite-1.jpg) 0 -386px repeat-x; padding:20px 10px 0 10px; margin-top:13px; overflow:hidden}

.sidebar-left {float:left; width:115px; background:#FFFFFF; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius: 5px; -moz-box-shadow: -1px 1px 8px #C9C9C9; -webkit-box-shadow:-1px 1px 8px #C9C9C9; box-shadow:-1px 1px 8px #C9C9C9;}
.sidebar-pic {width:109px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius: 5px; margin:2px auto; display:block}
.sidebar-rgt {float:left; width:150px; font-family:verdana, Helvetica, sans-serif; font-size:12px; line-height:12px; margin-left:10px}
.sidebar-rgt span {color:#40477F; font-weight:bold}
.sidebar-rgt p {color:#A3A3A3; line-height:15px; padding-top:2px;}
.sidebar-rgt a {font-size:12px; line-height:15px; color:#F80E5D; text-decoration:underline}
.sidebar-rgt a:hover {text-decoration:none}

/* Pod
====================================================================== */
.pod-outer {width:677px; overflow:hidden}
.pod-sp {float:left; width:225px; margin-right:1px}
.pod-head-sp {height:28px; padding:4px 0 5px 10px}
.pod-head-sp h3 {font-family:"RockwellRegular", Helvetica, sans-serif; font-size:25px; line-height:28px; color:#fff;}
.schedule {background:url(../images/sprite-1.jpg) 0 -88px repeat-x;}
.feeds {background:url(../images/sprite-1.jpg) 0 -126px repeat-x;}
.twitter-feeds {background:url(../images/sprite-1.jpg) 0 -164px repeat-x;}

.pod-details {background:url(../images/sprite-1.jpg) 0 -386px repeat-x; margin-top:1px}
ul.tv-list {}
ul.tv-list li {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#767676; border-bottom:solid 1px #DADADA; margin-bottom:1px; padding:5px 0 7px 9px; position:relative}
ul.tv-list li span {font-weight:bold; color:#9F1B6C}

ul.news-feeds {}
ul.news-feeds li {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#767676; border-bottom:solid 1px #DADADA; margin-bottom:1px; padding:5px 0 7px 9px;}
ul.news-feeds li span {font-size:12px; line-height:16px; font-weight:bold; color:#57A61A}

ul.news-feeds {}
ul.news-feeds li {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#767676; border-bottom:solid 1px #DADADA; margin-bottom:1px; padding:5px 0 7px 9px;}
ul.news-feeds li span {font-size:12px; line-height:16px; font-weight:bold; color:#57A61A}

ul.twitter-feeds-list {}
ul.twitter-feeds-list li {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#767676; border-bottom:solid 1px #DADADA; margin-bottom:1px; padding:5px 0 7px 9px;}
ul.twitter-feeds-list li span {font-size:12px; line-height:16px; font-weight:bold; color:#03C5ED}


a.tt{
    position:absolute; bottom:0; right:0;
    z-index:24;
    color:#3CA3FF;
	font-weight:bold;
    text-decoration:none;
}
/*a.tt span{ display: none; }
a.tt:hover{ z-index:25; color: #aaaaff; background:;}
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 15px 0 0 0;
	width:200px;
	color: #993300;
    text-align: center;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt:hover span.top{
	display: block;
	padding: 30px 8px 0;
    background: url(../images/bubble.gif) no-repeat top;
}
a.tt:hover span.middle{
	display: block;
	padding: 0 8px; 
	background: url(../images/bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(../images/bubble.gif) no-repeat bottom;
}*/

.view-more, .view-more-feeds, .view-more-twitter {background:#9F1B6C; overflow:hidden; padding:3px 0 3px 7px !important}
.view-more a, .view-more-feeds a, .view-more-twitter a {float:right; font-size:11px; color:#FFFFFF; margin-right:10px}
.view-more a:hover, .view-more-feeds a:hover, .view-more-twitter a:hover {text-decoration:underline}

.view-more-feeds {background:#66AE2F}
.view-more-twitter {background:#1ACAEF;}


/* FOOTER
========================================================================== */
#footer {width:1003px; font-family:Tahoma, Helvetica, sans-serif; margin:4px auto 0}
.foot-top {background:url(../images/bg-foot-1.jpg) 0 0 repeat-x #363636; padding-top:29px; padding-left:28px; padding-right:34px; overflow:hidden}
.foot-links {float:left; width:312px; overflow:hidden}
.foot-links ul {float:left}
.foot-links ul li {float:none; margin-bottom:10px}
.foot-links ul li a {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#A3A3A3;}
.foot-links ul li a:hover {color:#1ACAEF; border-bottom:solid 1px #1ACAEF}

.follow-us ul li a img {}
.follow-us ul li a img:hover {opacity:0.7;}

.follow-us {float:left; width:200px; margin-left:131px}
.follow-us span {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#A3A3A3;}

.follow-us ul {margin-top:15px}
.follow-us ul li {float:left; margin-right:20px}


.foot-botm {background:url(../images/bg-foot-2) 0 0 repeat-x #252525; min-height:44px;}
.copyright {font-size:12px; line-height:16px; color:#737373; padding-top:12px} 

.foot-botm-1 {}
.powered {font-size:12px; color:#717171; padding-top:10px; padding-bottom:35px}

.newsletter-sp {float:left; width:290px}
.newsletter-sp form {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#000; margin-top:15px}
.newsletter-sp form input[type="checkbox"] {float:left; margin-top:10px}
.newsletter-sp form span.check-agree {float:left; display:block; color:#A3A3A3; margin-top:8px; padding-left:7px}

.newsletter-sp span {font-family:Tahoma, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#A3A3A3; font-weight:bold}
.email-address {float:left; width:193px; background:#BEBEBD; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; outline:none; border:none; padding:6px}

.subscribe {float:left; width:77px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#000; background:url(../images/bg-submit.jpg) 0 0 repeat-x; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; -o-border-radius:2px; border-bottom:solid 1px #E0E1E1; outline:none; border:none; margin-left:4px; padding:5px}

